<div class="d-flex justify-content-center mt-5">
<table class="table table-striped w-75">
	<thead>
		<tr>
			<th scope="col">Ticket Id</th>
			<th scope="col">Designation</th>
            <th scope="col">Status</th>
			<th scope="col">Date</th>
            <th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		 
			<tr *ngFor="let ticket of tickets" >
				<td>{{ ticket.id }} </td>
				<td>{{ ticket.description }}</td>
                <td>{{ ticket.status }}</td>
				<td>{{ ticket.creationDate }}</td>
                <td>
                    <a href="#" (click)="openUpdateTicketModal(ticket)"  class="link-primary m-2">Update</a>
                    <a href="#"  class="link-danger">Delete</a>
                </td>
			</tr>
	</tbody>
    <div class="d-flex justify-content-start mt-2 ">
        <button (click)="openAddTicketModal()"  class="btn btn-success">Add Ticket</button> 
    </div>
</table>
<!--
<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshCountries()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>
-->
</div>

<ng-template #ticketModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ isUpdate ? 'Update Ticket' : 'Add Ticket' }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form *ngIf="selectedTicket" >
        <div class="mb-3">
          <label for="id" class="form-label">Ticket ID</label>
          <input type="number" id="id" class="form-control" [(ngModel)]="selectedTicket.id"  name="id" [readonly]="isUpdate">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Designation</label>
          <input type="text" id="description" class="form-control" [(ngModel)]="selectedTicket.description" name="description" required>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select id="status" class="form-select" [(ngModel)]="selectedTicket.status"  name="status" required>
            <option [ngValue]=0>Open</option>
            <option [ngValue]=1>Closed</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" >Cancel</button>
          <button type="button" class="btn btn-primary"  (click)="isUpdate ? addTicket() : addTicket()"  *ngIf="selectedTicket || !isUpdate" >
            {{ isUpdate ? 'Update' : 'Add' }} 
          </button>
        </div>
      </form>
    </div>
  </ng-template>

